<template>
    <div class="mainContent">
        <div class="unified_widget pagebanner">
            <h1>Books</h1>
            <p>
                <b>
                    Browser For More Books
                    <a href="">Leader of notable people</a>, or
                    <a href="">Fantasy Books</a> like Harry potter or GOT
                    <a href="">Best Fantasy books of the years</a>
                </b>
            </p>
        </div>
        <div class="bx-root">
            <div class="row">
                 <div class="col-sm-5 text-center">
                     <div class="bx-root-image">
                         <img src="/img/paris.jpg" class="img-fluid" alt="">
                     </div>
                 </div>
                 <div class="col-sm-7 m-auto">
                     <div class="bx-root-dtls">
                         <div class="bx-root-heading">
                         The Program
                     </div>
                     </div>
                
                 <div class="bx-root-subtext">
                     Inside the mind
                 </div>
                 <div class="bx-root-link">
                     <span>Order Now</span>
                 </div>
                 </div>
            </div>
        </div>
    </div>
</template>
    
<script>
export default {
    
}
</script>