<template>
  <div>
  
   
    <Nuxt />
   
  </div>
</template>

<script>

export default {
  
}
</script>
<style>

  body {
    font-size: 13px;
    line-height: 19px;
    color: #111;
  }

</style>
