<template>
  <div class="registerPage">
    <div class="container">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div class="text-center">
            <a href>
              <img src="/img/logo-black.png" alt />
            </a>
          </div>
          <form class="mt-4">
            <div class="a-box a-spacing-extra-large">
              <div class="a-box-inner">
                <h1 class="a-spacing-small">Create account</h1>
                <div class="a-row a-spacing-base">
                  <label for="ap_customer_name" class="a-form-focus">Your Name</label>
                  <input type="text" class="a-input-text form-control a-form-focus" />
                </div>
                <div class="a-row a-spacing-base">
                  <label for="ap_customer_email" class="a-form-focus">Email</label>
                  <input type="email" class="a-input-text form-control a-form-focus" />
                </div>
                <div class="a-row a-spacing-base">
                  <label for="ap_customer_password" class="a-form-focus">Password</label>
                  <input type="password" class="a-input-text form-control a-form-focus" />
                  <div class="a-alert-container">
                    <div class="a-alert-content">Password must be at least 6 characters</div>
                  </div>
                </div>
                <div class="a-row a-spacing-extra-large mb-4">
                  <span class="a-button-primary">
                    <span class="a-button-inner">
                      <span class="a-button-text">Create your account</span>
                    </span>
                  </span>
                  <div class="a-row a-spacing-top-medium a-size-small">
                      <b>
                          By creating and account, you agree to Amazon's
                          <a href="">Condition of use</a>
                          <a href="">privacy notice</a>
                      </b>
                  </div>
                </div>
                <hr />
                <div class="a-row">
                    <b>
                        Already have an account?
                        <nuxt-link to="/login" class="a-link-child">Sign In</nuxt-link>
                    </b>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    layout: "none"
}
</script>